<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>
     <link href="http://fonts.googleapis.com/css?family=Overlock:400,900,400italic,900italic|Eater" rel="stylesheet">
    <script src="{{assets}}/scripts/head.js"></script>
    <link href="{{assets}}/styles/site.css" rel="stylesheet">

  </head>
  <body>

    {{> navbar-fixed-top }}
    <div class="container">
      {{> body }}
    </div>

    <script src="{{assets}}/scripts/foot.js"></script>
  </body>
</html>
